<div class="container px-5 my-5">
    <div class="row gx-5" id="addDiv">
        {{# if _id}}
            <h1 class="mb-3">Manage Movie</h1>
        {{else}}
            <h1 class="mb-3">Add New Movie</h1>
        {{/if}}
        
        <form class="needs-validation" id="myForm" >
            <div class="row g-3">
                {{#if _id}}
                    <p id="_id" style="display:none">{{_id}}</p>
                {{/if}}
                <div class="col-sm-6">
                    <label style="color: black" for="imdbId" class="form-label">IMDB Id</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="imdbId" name="imdbId" placeholder="Input the IMDB id of movie"/>
                        <button type="button" class="btn btn-warning" id="getImdb" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to auto fill the form with movie info from IMDB">Get Info</button>
                    </div>
                </div>
                <div class="col-sm-6"> </div>

                <div class="col-sm-6">
                    <label style="color: black" for="name" class="form-label">Title</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Input the name of movie" value="" required/>
                    <div class="invalid-feedback">
                        Movie Title is required.
                    </div>
                </div>
                <div class="col-md-6">
                    <label style="color: black" for="countries" class="form-label">Countries</label>
                    <input type="text" class="form-control" id="countries" name="countries" placeholder="USA/UK/France" value="" required/>
                    <div class="invalid-feedback">
                        Countries is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label style="color: black" for="releaseDate" class="form-label">Release Date</label>
                    <input type="text" class="form-control" id="releaseDate" name="releaseDate" placeholder="YYYY-MM-DD" value="" required/>
                    <div class="invalid-feedback">
                        Invalid release date.
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color: black" for="runtime" class="form-label">Runtime</label>
                    <div class="input-group">
                        <input type="number" class="form-control" min="0" max="500" id="runtime" name="runtime" placeholder="60" value="" required/>
                        <span class="input-group-text">minutes</span>
                    </div>
                    <div class="invalid-feedback">
                        Invalid release runtime.
                    </div>
                </div>

                <div class="col-md-6">
                    <label style="color: black" for="languages" class="form-label">Languages</label>
                    <input type="text" class="form-control" id="languages" name="languages" placeholder="English/Italian/French" value="" required/>
                    <div class="invalid-feedback">
                        Languages is required.
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color: black" for="casts" class="form-label">Stars</label>
                    <input type="text" class="form-control" id="casts" name="casts" placeholder="Name of stars" required/>
                    <div class="invalid-feedback">
                        Stars release date.
                    </div>
                </div>

                <div class="col-md-6">
                    <label style="color: black" for="directors" class="form-label">Directors</label>
                    <input type="text" class="form-control" id="directors" name="directors" placeholder="Name of directors" value="" required/>
                    <div class="invalid-feedback">
                        Directors is required.
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color: black" for="writers" class="form-label">Writers</label>
                    <input type="text" class="form-control" id="writers" name="writers" placeholder="Name of writers" required/>
                    <div class="invalid-feedback">
                        Writers is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label style="color: black" for="plot" class="form-label">Summary</label>
                    <textarea class="form-control" id="plot" style="height: 125px;" name="plot" placeholder="Summaries of the movie" required></textarea>
                    <div class="invalid-feedback">
                        Summary is required.
                    </div>
                </div>
                <div class="col-md-6">
                    <label style="color: black" class="form-label">Type</label>
                    <div id="typeTheck">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="ComedyCheckBox"><span class="badge bg-success">Comedy</span></label>
                            <input class="form-check-input" type="checkbox" id="ComedyCheckBox" value="Comedy"/>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Sci-FiCheckBox" value="Sci-Fi"/>
                            <label class="form-check-label" for="Sci-FiCheckBox"><span class="badge bg-success">Sci-Fi</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="HorrorCheckBox" value="Horror"/>
                            <label class="form-check-label" for="HorrorCheckBox"><span class="badge bg-success">Horror</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="RomanceCheckBox" value="Romance"/>
                            <label class="form-check-label" for="RomanceCheckBox"><span class="badge bg-success">Romance</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ActionCheckBox" value="Action"/>
                            <label class="form-check-label" for="ActionCheckBox"><span class="badge bg-success">Action</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="ThrillerCheckBox" value="Thriller"/>
                            <label class="form-check-label" for="ThrillerCheckBox"><span class="badge bg-success">Thriller</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="DramaCheckBox" value="Drama"/>
                            <label class="form-check-label" for="DramaCheckBox"><span class="badge bg-success">Drama</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="MysteryCheckBox" value="Mystery"/>
                            <label class="form-check-label" for="MysteryCheckBox"><span class="badge bg-success">Mystery</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="CrimeCheckBox" value="Crime"/>
                            <label class="form-check-label" for="CrimeCheckBox"><span class="badge bg-success">Crime</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="AnimationCheckBox" value="Animation"/>
                            <label class="form-check-label" for="AnimationCheckBox"><span class="badge bg-success">Animation</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="AdventureCheckBox" value="Adventure"/>
                            <label class="form-check-label" for="AdventureCheckBox"><span class="badge bg-success">Adventure</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="FantasyCheckBox" value="Fantasy"/>
                            <label class="form-check-label" for="FantasyCheckBox"><span class="badge bg-success">Fantasy</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Comedy-RomanceCheckBox" value="Comedy-Romance"/>
                            <label class="form-check-label" for="Comedy-RomanceCheckBox"><span class="badge bg-success">Comedy-Romance</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Action-ComedyCheckBox" value="Action-Comedy"/>
                            <label class="form-check-label" for="Action-ComedyCheckBox"><span class="badge bg-success">Action-Comedy</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="SuperheroCheckBox" value="Superhero"/>
                            <label class="form-check-label" for="SuperheroCheckBox"><span class="badge bg-success">Superhero</span></label>
                        </div>
                    </div>

                    <div class="invalid-feedback">
                        Type is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label style="color: black" for="trailerLink" class="form-label">Trailer Link</label>
                    <input type="text" class="form-control" id="trailerLink" name="trailerLink" placeholder="https://www.imdb.com/video/imdb/vi3877612057/imdb/embed" required/>
                </div>
                <div class="col-sm-6"></div>

                <div class="col-sm-6">
                    <label style="color: black" for="poster" class="form-label">Poster</label>
                    <input class="form-control" type="file" accept="image/*" id="poster" name="poster"/>
                    <div class="invalid-feedback">
                        Poster is required.
                    </div>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-12">
                    {{!-- poster img --}}
                    <img src="/public/images/missing.png" id="posterImg" class="rounded-top" alt="poster image" width="400" height="400" >
                </div>
                <div class="col-sm-6">
                    <label style="color: black" for="images" class="form-label">Images</label>
                    <input class="form-control" type="file" id="images" name="images" accept="image/*" multiple/>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-12" >
                    {{!-- images --}}
                    <div class="row g-3"  id="imagesDiv"></div>      
                </div>
            </div>

            <hr class="my-4">

            {{#unless _id}}
            <button class="w-100 btn btn-primary btn-lg" type="submit" id="submitBtn">Submit</button>
            {{/unless}}
            {{#if _id}}
            <button class="w-100 btn btn-success btn-lg" type="submit" id="approveBtn">Approve</button>
            {{/if}}
        </form>
    </div>


    <div class="px-3" id="success">
        {{!-- Movie uploaded! Adimn will post it after reviewing. --}}
        <h1>You just upload a new movie successfully!</h1>
        <p class="lead">Our administer will post it as soon as possible after their review.</p>
        <p>Back to home page in 5 seconds...</p>
    </div>
</div>
